<title>About</title>
{% extends "welcome.html" %} {% block content %}
<div class="about">
<p>
  The project titled HOTEL MANAGEMENT SYSTEM is a relational database management
  project developed in mysql with html, javascript, bootstrap as the front-end
  and python for backend using flask framework. A simple and easy to use website
  that provides for booking the rooms. This hotel website enables you to check
  and book different rooms when available. The project comprises the list of
  different rooms available on different dates. The administrator can add the
  rooms available for booking at the beginning of the interface.The MYSQL
  database holds all the data of all rooms, customer name , booking date etc.
  The database is updated for each transaction and is accessed through the
  administrator only. In this way, the online hotel management project helps in
  maintaining the transaction of different rooms on website, making it simple
  for administrator to keep the records of the room.
</p>
</div>
<h4 class="owner">OWNERS</h4>
<ul class="creators">
  <li>Ahan M A</li>
  <li>Ponnanna B L</li>
  <li>Saqib Hyder A</li>
  <li>Akshay Devaiah B M</li>
</ul>
{% endblock %}
