{% extends "welcome.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    {% block content %}
    <script src="{{ url_for('static', filename='exception-handling.js')}}"</script></script>
    <form name="insert_rooms" onsubmit="return validateinsrooms()" action="/rooms" method="post">
      <input class="insert-input" type="number" name="room_id" placeholder="room-id" />
      <input class="insert-input" type="number" name="cost_room" placeholder="rom-cost" />
      <input class="insert-input" type="submit" value="insert" id="" />
    </form>
    {% endblock %}
  </body>
</html>
